<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="js/highcharts.js"></script>
    <script src="js/highcharts_zh.js"></script>
    <style>
    fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}
    legend{padding:.5em;border:0;width:auto}
    </style>
    <title>标准回归</title>
</head>

<body>
    <div class="container">

        <div id="root">
            <table class="table table-bordered" id="mt">
                <caption>水中阴离子合成洗涤剂的标准系列</caption>
                <thead>
                    <th>序号</th>
                    <th>加样量</th>
                    <th>吸光度</th>
                    <th @click="add_item()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>0</td>
                        <td>0.003</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>1</td>
                        <td :contenteditable="true">0.012</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2</td>
                        <td>0.034</td>
                        <td></td>
                    </tr>
                    <!-- <tr v-for="(item, index) in items" :key="index"> <td>{{ index + 1 }}</td>
                        <td :contenteditable="true" :id="'v'+index" :tabindex="1">{{ item.v }}</td>
                        <td :contenteditable="true" :id="'a'+index" :tabindex="2">{{ item.a }}</td>
                        <td @click="del(index)"><span class="glyphicon glyphicon-trash"></span></td>
                    </tr> -->
                </tbody>
            </table>
            <form>
                <fieldset>
                    <legend>标准回归公式</legend>
                    <a @click="get_cols('mt')" type="button" class="btn btn-success">显示回归公式</a>
                    <a onclick="show_chart()" type="button" class="btn btn-success">显示回归曲线</a>
                    <div v-html="gs"></div>
                </fieldset>
                <fieldset>
                    <legend>样品浓度计算</legend>
                    <label>样品吸光度：</label><input name="xgd" placeholder="请输入样品的吸光度" v-model="xgd">
                    <label>样品加入量：</label><input type="number" name="input_v" v-model="input_v" placeholder="请输入样品的加样量">
                    <br/>
                    样品吸光度为{{ xgd }}
                    <abbr>，那么样品中阴离子合成洗涤剂的质量为{{result}}微克</abbr>
                    ，加样量为{{input_v=50}}ml，则样品中阴离子合成洗涤剂的浓度为
                    <span v-if="result_c>0.05">{{result_c}}</span><span v-else>&lt;0.05</span>g/L。
                </fieldset>
            </form>
        </div>
        <div id="container"></div>
    </div>

    <script src="index.js"></script>
</body>

</html>