<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="js/highcharts.js"></script>
    <script src="js/highcharts_zh.js"></script>
    <style>
        fieldset {
            padding: .35em .625em .75em;
            margin: 0 2px;
            border: 1px solid silver
        }

        legend {
            padding: .5em;
            border: 0;
            width: auto
        }
    </style>
    <title>标准回归</title>
</head>

<body>
    <div class="container">

        <div id="root">
            <label for="xm">选择项目：</label>
            <select name="xm" class="form-control" v-model="selected">
                <option :value="item" v-for="(item,index) in names">{{ item.name }}</option>
            </select>
            <table class="table table-bordered text-center table-striped" :id="selected.id" v-if="selected.id==selected.id">
                <caption>水中{{ selected.name }}的标准系列</caption>
                <thead>
                    <th class="text-center">序号</th>
                    <th class="text-center">加样量</th>
                    <th class="text-center">吸光度</th>
                    <th class="text-center" @click="add_item(selected.id)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </th>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in selected.items" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td :contenteditable="true" :id="'v'+index">{{ item.v }}</td>
                        <td :contenteditable="true" :id="'a'+index">{{ item.a }}</td>
                        <td @click="del(index)"><span class="glyphicon glyphicon-trash"></span></td>
                    </tr>
                </tbody>
            </table>
            <form>
                <fieldset>
                    <legend>标准回归公式</legend>
                    <a @click="get_cols(selected.id)" type="button" class="btn btn-success">显示回归公式</a>
                    <a id="hint" onclick="show_chart()" type="button" class="btn btn-success">显示回归曲线</a>
                    <div v-html="gs"></div>
                </fieldset>
                <fieldset>
                    <legend>样品浓度计算</legend>
                    <label>样品吸光度：</label><input name="xgd" placeholder="请输入样品的吸光度" v-model="xgd">
                    <label>样品加入量：</label><input v-model="selected.input_v" placeholder="请输入样品的加样量">
                    <table class="table table-bordered table-striped">
                        <thead class="text-center">
                            <th>项目名称</th>
                            <th>加样量</th>
                            <th>吸光度</th>
                            <th>质量</th>
                            <th>报告结果</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ selected.name }}</td>
                                <td>{{ selected.input_v }}</td>
                                <td>{{ xgd }}</td>
                                <td>{{ result }}</td>
                                <td>{{ calculation }}</td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
        <div id="container"></div>
    </div>

    <script src="index.js"></script>
</body>
</html>