<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/jquery3.3.1.min.js"></script>
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/css/index.css">
    <link rel="stylesheet" href="css/css/bootstrap.css">
    <link rel="stylesheet" href="css/css/animation.min.css">
    <link rel="stylesheet" href="css/css/font-awesome.min.css">
    <script src="js/bootstarp.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="js/highcharts_zh.js"></script>
    <script src="js/myStorage.min.js"></script>
    <script src="js/webSQL.js"></script>
    <script src="https://cdn.bootcss.com/store.js/1.3.20/store.min.js"></script>
    <title>标准回归</title>
</head>

<body>

    <div class="container">
        <div id="root">
            <div class="jumbotron row">
                <div class="col-xs-10 col-lg-11 col-md-11 col-sm-10">
                    <h3>{{ company }}</h3>
                    <h1>水质检验回归分析系统</h1>
                </div>
                <div class="col-xs-2 col-lg-1 col-md-1 col-sm-2">
                    <a class="btn btn-defult btn-lg" data-toggle="modal" data-target="#login" v-if="login_f">
                        注册
                    </a>
                    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class='modal-content'>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">注册</h4>
                                </div>
                                <div class="modal-body">
                                    <input class="form-control" type="text" placeholder="请输入单位名称" v-model="company">
                                    <input class="form-control" type="text" placeholder="请输入名字" v-model="username">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" @click="login_s" data-dismiss="modal">提交更改</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-5 col-xs-7">
                    <select tabindex="-1" class="form-control input-lg" name="xm" id="xm" v-model="selected">
                        <option style="font-size: 80%" disabled>---请选择---</option>
                        <option v-bind:id="'select'+index" v-bind:value="item" v-for="(item,index) in names" v-text="item.name"></option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-5">
                    <a class="btn btn-default" @click="add_opt">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 text-right">
                    <i class="fa fa-calendar"></i>{{ dateFormat(new Date()) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">

                    <table v-show="show" class="animated fadeInUp table table-hover table-bordered text-center table-striped"
                        v-bind:id="selected.id">
                        <thead>
                            <tr>
                                <th class="text-center">序号</th>
                                <th class="text-center">标准加入量(μg)</th>
                                <th class="text-center">吸光度</th>
                                <th @click="get_list()" title="保存" class="btn text-info"><i class="fa fa-save"></i>保存</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in selected.standard_series" :key="index">
                                <td v-text="index+1"></td>
                                <td contenteditable="true" v-bind:id="'v'+index" v-text="item[0]"></td>
                                <td contenteditable="true" v-bind:id="'a'+index" v-text="item[1]"></td>
                                <td @click="add_item(selected.id)" class="btn text-warning" title="增加序列">
                                    <i class="fa fa-plus"></i>
                                </td>
                                <td @click="del(index)" title="删除" class="btn text-danger"><i class="fa fa-trash"></i></td>
                            </tr>
                        </tbody>
                        <caption>
                            <h4 onclick="focus_move()">水中<span v-text="selected.name"></span>的标准系列 </h4>
                        </caption>
                    </table>
                </div>
                <div class="col-lg-6">
                    <div id="line"></div>
                </div>
            </div>
            <form v-show="show">
                <div class="row">
                    <div class="col-lg-5">
                        <fieldset>
                            <legend><span v-text="selected.name"></span>的回归公式</legend>
                            <h4 v-html="selected.formula"></h4>
                            <span class="text-danger animated bounceIn infinite" v-if="selected.r<0.999">------注意：相关系数若小于0.999，说明标准曲线不合格，请重新核对数据，分析检测过程，必要时重新测定标准系列。</span>
                            <div>
                                <a class="btn btn-default" @click="add_sample()">
                                    <i class="fa fa-hand-o-right fa-2x"></i><i class="fa fa-pencil"></i>
                                    开始录入
                                    <i>样品编号YXCDC2018水第
                                        <input v-if="selected.judge" tabindex="11" type="number" v-model="selected.start">
                                        <input v-else tabindex="11" type="number" v-model="selected.end"> 号
                                    </i>
                                </a>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-7">
                        <fieldset v-if="add" class="animated fadeInRight">
                            <legend>样品中 <span v-text="selected.name"></span> 浓度计算</legend>
                            <table class="table table-hover table-bordered table-striped">
                                <tr>
                                    <th class="text-center">样品编号</th>
                                    <th class="text-center">加样体积(ml)</th>
                                    <th class="text-center">吸光度</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                <tr class="text-center">
                                    <td>
                                        <i class="form-control">YXCDC2018水第<span v-text="f_n(selected.start,3)"></span>号</i>
                                    </td>
                                    <td>
                                        <select class="form-control" name="" id="" v-model="selected.v">
                                            <option v-bind:value="opt" v-for="opt of vol_select" v-text="opt">
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control animated bounceInRight" type="number" tabindex="0"
                                            placeholder="输入后直接回车，不用&rarr;提交" v-model="selected.new_results.a">
                                    </td>
                                    <td>
                                        <button class="btn" tabindex="0" @click="submit_result">提交</button>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-hover" id="result_table">
                    <thead>
                        <tr>
                            <th class="text-center">编号</th>
                            <th class="text-center">加样量(ml)</th>
                            <th class="text-center">吸光度</th>
                            <th class="text-center">质量(μg)</th>
                            <th class="text-center">结果(mg/L)</th>
                            <th class="text-center" @click="save_results">
                                <i class="btn fa fa-save text-success">保存</i>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr v-for="(item, index) in selected.results">
                            <td v-text="f_n(item.id, 3)"></td>
                            <td v-text="item.v"></td>
                            <td v-text="item.a"></td>
                            <td v-text="get_m(index)"></td>
                            <td class="animated bounceInUp" v-text="get_c(index)"></td>
                            <td>
                                <i class="btn fa fa-trash text-danger" @click="del_sample(index)">删除</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn text-danger" @click="printContent()"><i class="fa fa-print"></i>打印检验记录</a>
                <a class="btn text-warning" 　style="float: right" href="sample.html">查看检验报告</a>
                <div id="subOutputRank-print">
                    <div @click="date_y()" class="text-center" colspan="5">
                        <h3 title="点击这里可以查看每个样品的检测日期"><i>水样中<span v-text="selected.name"></span>检验记录</i></h3>
                    </div>
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td class="text-center">样品名称：</td>
                            <td style="padding: 0px;">
                                <select style="border:0px; height: 2.4em; width: auto; outline:none; cursor: pointer;">
                                    <option value="井水">井水</option>
                                    <option value="泉水">泉水</option>
                                    <option value="河水">河水</option>
                                    <option value="溪水">溪水</option>
                                    <option value="自来水">自来水</option>
                                </select>
                            </td>
                            <td class="text-center">样品量：</td>
                            <td contenteditable="true">3L</td>
                        </tr>
                        <tr>
                            <td class="text-center">收样日期：</td>
                            <td contenteditable="true" v-text="recived_date"></td>
                            <td class="text-center">检验日期：</td>
                            <td contenteditable="true" v-text="test_date"></td>
                        </tr>
                        <tr>
                            <td class="text-center">样品性状：</td>
                            <td contenteditable="true">液态</td>
                            <td class="text-center">检测环境：</td>
                            <td contenteditable="true">
                                <span v-text="sample.temprature"></span> ℃
                                <span v-text="sample.rh"></span>% RH
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">检测仪器：</td>
                            <td v-text="selected.instrument_model">
                            </td>
                            <td class="text-center">检验依据：</td>
                            <td v-text="selected.GB">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">检测方法：</td>
                            <td colspan="5" contenteditable="true" v-text="selected.method"></td>
                        </tr>
                    </table>
                    <table @click="mystorages" class="table table-bordered table-striped table-hover" id="record">
                        <thead>
                            <tr>
                                <th class="text-center">样品编号</th>
                                <th class="text-center">加样量(ml)</th>
                                <th class="text-center">吸光度</th>
                                <th class="text-center">实测质量(μg)</th>
                                <th class="text-center">报告结果(mg/L)</th>
                                <th v-show="date_show" class="text-center">计量单位</th>
                                <th v-show="date_show" class="text-center">参考范围(mg/L)</th>
                                <th v-show="date_show" class="text-center">结果评价</th>
                                <th v-show="date_show" class="text-center">记录日期</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="(item, index) in selected.st" :key="index">
                                <td>YXCDC2018水第<span v-text="f_n(item.id, 3)"></span>号</td>
                                <td v-text="item.v"></td>
                                <td v-text="item.a"></td>
                                <td v-text="item.m"></td>
                                <td v-if="item.c<selected.limit" v-text="'<'+selected.limit"></td>
                                <td v-else v-text="item.c"></td>
                                <td v-show="date_show" v-text="item.unit"></td>
                                <td v-show="date_show" v-text="item.range_large"></td>
                                <td v-show="date_show" v-text="item.assessment"></td>
                                <td v-show="date_show" v-text="item.date"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2">检验者:</th>
                                <th colspan="3">审核者:</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <script src="js/index.js"></script>
    <footer class="footer">
        <div>使用过程中有任何疑问或想法，欢迎在我的
            <a href="img/myWX.jpg"><i class="fa fa-comments"></i></a>
            留言
        </div>
    </footer>
</body>
</html>
