<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/css/font-awesome.css">
    <script src="js/highcharts.js"></script>
    <script src="js/highcharts_zh.js"></script>
    <script src="webstorage.js"></script>
    <style>
        fieldset {
            padding: .35em .625em .75em;
            margin: 0 2px;
            border: 1px solid silver
        }

        legend {
            padding: .5em;
            border: 0;
            width: auto
        }

        input{
            width: 60%;
        }

        :focus {
            background-color: rgb(161, 220, 228);
        }
    </style>
    <title>标准回归</title>
</head>

<body>
    <div class="container">

        <div class="jumbotron" @click="toStorage()">
            <h1>回归计算器</h1>
        </div>
        <div id="root">
            <select class="form-control input-lg" name="xm" id="xm" v-model="selected">
                <option :value="item" v-for="(item,index) in names">{{ item.name }}</option>
            </select>
            <table class="table table-bordered text-center table-striped" :id="selected.id" v-if="selected.id==selected.id">
                <caption>
                    <h3>水中{{ selected.name }}的标准系列 <i @click="show_table()" class="fa fa-table"></i></h3>
                </caption>
                <thead>
                    <th class="text-center">序号</th>
                    <th class="text-center">加样量</th>
                    <th class="text-center">吸光度</th>
                    <th class="text-center" @click="add_item(selected.id)">
                        <i class="fa fa-plus fa-2x"></i>
                    </th>
                </thead>
                <tbody v-show="table_show">
                    <tr v-for="(item, index) in selected.items" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td :contenteditable="true" :id="'v'+index">{{ item[0] }}</td>
                        <td :contenteditable="true" :id="'a'+index">{{ item[1] }}</td>
                        <td @click="del(index)"><i class="fa fa-trash fa-2x"></i></td>
                    </tr>
                </tbody>
            </table>
            <form>
                <fieldset>
                    <div class="help-block">修改数据后，要点击按钮才能刷新。</div>
                    <legend>标准回归公式</legend>
                    <a @click="get_cols(selected.id)" class="btn btn-defalut"><i class="fa fa-2x fa-subscript" aria-hidden="true"></i>显示回归公式</a>
                    <a id="hint" onclick="show_chart()" class="btn btn-default"><i class="fa fa-2x fa-line-chart"></i>显示回归曲线</a>
                    <a class="btn btn-defalut" onclick="save_series()"><i class="fa fa-save"></i>保存标准系列</a>
                    <h4 v-html="gs"></h4>
                </fieldset>
                <fieldset>
                    <legend>样品浓度计算</legend>
                    <!-- <label>样品吸光度：</label><input name="xgd" placeholder="请输入样品的吸光度" v-model="xgd">
                    <label>样品加入量：</label><input v-model="selected.input_v" placeholder="请输入样品的加样量"> -->
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th class="text-center">名称</th>
                            <th class="text-center">加样量</th>
                            <th class="text-center">吸光度</th>
                            <th class="text-center">质量</th>
                            <th class="text-center">结果</th>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td>{{ selected.name }}</td>
                                <!-- <td><input placeholder="请输入样品的加入量" v-model="selected.input_v"></td> -->
                                <td>
                                    <select name="" id="" v-model="selected.input_v">
                                        <option value="50">50 ml</option>
                                        <option value="25">25 ml</option>
                                        <option value="100">100 ml</option>
                                        <option value="10">10 ml</option>
                                        <option value="1">1 ml</option>
                                    </select>
                                </td>
                                <td><input name="xgd" placeholder="输入吸光度" v-model="xgd"></td>
                                <td>{{ result }} μg</td>
                                <td>{{ calculation }} mg/L</td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
        <div id="line"></div>
        <button class="btn" onclick="show_data()">显示数据</button>
    </div>

    <script src="index.js"></script>
</body>
</html>