<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" \>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="jiSuanQi.css">
    <title>水质检测计算器</title>
</head>

<body>

    <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal"> 曲线/公式/计算</button>
    <div id="app">
        <label for="so">硫酸盐(标准溶液浓度为：{{nd}} ug/L)</label>
        <p>硫酸盐标准回归方程: {{ funcs }},  r = {{ r.toFixed(4)}}</p>
        <table id="so" class="table table-striped table-bordered">
            <thead>
                <th>ID</th>
                <th>加样量</th>
                <th>吸光度</th>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <td>{{x1}}</td>
                    <td>{{y1}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{x2}}</td>
                    <td>{{y2}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{x3}}</td>
                    <td>{{y3}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{x4}}</td>
                    <td>{{y4}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{x5}}</td>
                    <td>{{y5}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{x6}}</td>
                    <td>{{y6}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{x7}}</td>
                    <td>{{y7}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{x8}}</td>
                    <td>{{y8}}</td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="myModal" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"  style="text-align: center" id="myModalLabel" >标准曲线、回归公式、浓度计算</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row form">
                            <div class="btn-group" style="padding: 20px">
                                <label for="proName">项 目 名称:
                                    <input type="text" id="proName" placeholder="例如：硫酸盐" class="btn btn-defalut">
                                </label>
                                <label for="jiaYangLing">加样量(ml)
                                    <input value="50" name="v" id="jiaYangLing" placeholder="加样量" class="btn btn-default">
                                </label>
                                <table style="text-align: center" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <th style="text-align: center">标准加入量</th>
                                        <th style="text-align: center">吸光度</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input v-model="x1" class="btn btn-sucess">
                                            </td>
                                            <td>
                                                <input v-model="y1" class="btn btn-default" id="y1">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input v-model="x2" class="btn btn-sucess">
                                            </td>
                                            <td>
                                                <input v-model="y2" class="btn btn-default" id="y2">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input v-model="x3" class="btn btn-sucess">
                                            </td>
                                            <td>
                                                <input v-model="y3" class="btn btn-default" id="y3">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input v-model="x4" class="btn btn-sucess">
                                            </td>
                                            <td>
                                                <input v-model="y4" class="btn btn-default" id="y4">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input v-model="x5" class="btn btn-sucess">
                                            </td>
                                            <td>
                                                <input v-model="y5" class="btn btn-default" id="y5">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input v-model="x6" class="btn btn-sucess">
                                            </td>
                                            <td>
                                                <input v-model="y6" class="btn btn-default" id="y6">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input v-model="x7" class="btn btn-sucess">
                                            </td>
                                            <td>
                                                <input v-model="y7" class="btn btn-default" id="y7">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input v-model="x8" class="btn btn-sucess">
                                            </td>
                                            <td>
                                                <input v-model="y8" class="btn btn-default" id="y8">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="submit" @click="submitN">显示标准曲线</button>
                            </div>
                            <div id="container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="jiSuanQi.js"></script>
</body>
</html>