<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/css/animation.min.css">
    <link rel="stylesheet" href="css/css/bootstrap.css">
    <link rel="stylesheet" href="css/css/font-awesome.css">
    <script src="js/jquery3.3.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>直观版</title>
    <style>
        .threed {
            text-shadow: 0px 1px 0px #999, 1px 2px 1px #888, 2px 3px 2px #777, 3px 4px 3px #666, 4px 5px 4px #555, 5px 6px 5px #444, 6px 7px 6px #333, 7px 8px 7px #222, 8px 9px 8px #111
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="root">
            <div class="jumbotron row">
                <div onclick="focus_move()" class="col-xs-9 col-lg-10 col-md-10 col-sm-10">
                    <h2 data-toggle="modal" data-target="#login" v-text="company"></h2>
                    <h1 style="color:gainsboro" class="threed">水质检验回归分析系统</h1>
                </div>
                <div class="col-xs-3 col-lg-2 col-md-2 col-sm-2">
                    <a class="btn btn-defult btn-lg" data-toggle="modal" data-target="#login" v-if="login_f">
                        <i class="fa fa-sign-in">机构名称</i>
                    </a>
                    <a class="btn btn-success btn-lg" data-toggle="modal" data-target="#environment" v-else>
                        <i class="fa fa-thermometer">    环境记录</i>
                    </a>
                    <a class="btn btn-lg btn-info" href="sample.html">
                        <i class="fa fa-print">检验报告</i>
                    </a>
                    <div class="modal fade" id="environment" tabindex="-1" role="dialog" aria-labelledby="myEnv"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class='modal-content'>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myEnv">实验室环境</h4>
                                </div>
                                <div class="modal-body form-group">
                                    <label class="form-label">实验室温度(℃)</label>
                                    <input type="number" v-model.number="T">℃
                                    <label calss="form-label">实验室湿度(%)</label>
                                    <input tabindex="0" type="number" v-model.number="H">%
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" tabindex="0" @click="login_env()"
                                        data-dismiss="modal">确认</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class='modal-content'>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">注册</h4>
                                </div>
                                <div class="modal-body form-group">
                                    <label for="" class="form-label">单位名称
                                        <input class="form-control" type="text" v-model="company"></label>
                                    <label class="form-label">机构代号
                                        <input type="text" class="form-control" v-model="numbering"></label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" @click="login_s" data-dismiss="modal">保存</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-6 animated bounceInLeft" v-if="bise">
                    <table class="animated fadeInUp table table-hover table-bordered text-center table-striped" :id="selected1.id">
                        <thead>
                            <tr>
                                <th class="text-center">序号</th>
                                <th class="text-center">标准加入量(μg)</th>
                                <th class="text-center">吸光度</th>
                                <th class="btn btn-info">
                                    <i @click="get_list()" title="保存数据" class="fa fa-save">保存</i>
                                </th>
                                <th class="btn btn-info">
                                    <i @click="add_item(selected1.id)" title="增加序列" class="fa fa-plus">增加</i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in selected1.standard_series" :key="index">
                                <td v-text="index+1"></td>
                                <td contenteditable="true" v-text="item[0]"></td>
                                <td contenteditable="true" v-text="item[1]"></td>
                                <td colspan="2" @click="del(index)" title="删除" class="btn text-danger text-center"><i
                                        class="fa fa-trash"></i></td>
                            </tr>
                        </tbody>
                        <caption>
                            <h4>水中<span v-text="selected1.name"></span>的标准系列 </h4>
                        </caption>
                    </table>
                </div>
                <div class="col-lg-6" v-show="bise">
                    <div id="line" style="box-shadow:5px 5px 4px"></div>
                </div>
            </div>
            <form v-if="show1" class="animated bounceInRight">

                <a class="btn text-danger" @click="printContent('print')"><i class="fa fa-print"></i>打印记录</a>
                <div id="print">
                    <div @click="date_y()" class="text-center" colspan="5">
                        <h1 v-text="company"></h1>
                        <h3 title="点击这里可以查看每个样品的检测日期"><i>水样中<span v-text="selected1.name"></span>检验记录</i></h3>
                    </div>
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td class="text-center">检测方法：</td>
                            <td colspan="1" contenteditable="true" v-text="selected1.method"></td>
                            <td class="text-center">样品数量：</td>
                            <td colspan="2" contenteditable="true">3升</td>
                        </tr>
                        <tr>
                            <td class="text-center">收样日期：</td>
                            <td contenteditable="true" v-text="recived_date"></td>
                            <td class="text-center">检验日期：</td>
                            <td colspan="2" contenteditable="true" v-text="test_date"></td>
                        </tr>
                        <tr>
                            <td class="text-center">样品性状：</td>
                            <td contenteditable="true">液态</td>
                            <td class="text-center">检测环境：</td>
                            <td contenteditable="true">
                                温度<span v-text="T"></span> ℃
                            </td>
                            <td contenteditable="true">
                                湿度
                                <span v-text="H"></span>% RH
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">检测仪器：</td>
                            <td v-text="selected1.instrument_model">
                            </td>
                            <td class="text-center">检验依据：</td>
                            <td colspan="2" v-text="selected1.GB">
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td class="text-center">检验步骤：</td>
                            <td colspan="5" v-html="selected1.step"></td>
                        </tr>
                        <tr>
                            <td class="text-center">结果计算：</td>
                            <td colspan="5" v-html="selected1.calculation"></td>
                        </tr>
                    </table>
                    <table @click="mystorages(selected1)" class="table table-bordered table-striped table-hover" id="record">
                        <thead>
                            <tr>
                                <th class="text-center">样品编号</th>
                                <th class="text-center">加样量(ml)</th>
                                <th class="text-center">吸光度</th>
                                <th class="text-center">实测质量(μg)</th>
                                <th class="text-center">样品浓度(mg/L)</th>
                                <th class="text-center">报告结果(mg/L)</th>
                                <th v-show="date_show" class="text-center">计量单位</th>
                                <th v-show="date_show" class="text-center">参考范围(mg/L)</th>
                                <th v-show="date_show" class="text-center">结果评价</th>
                                <th v-show="date_show" class="text-center">记录日期</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="(item, index) in selected1.st" :key="index">
                                <td><i v-text="numbering+(new Date()).getFullYear()"></i>水第<span v-text="f_n(item.id, 3)"></span>号</td>
                                <td v-text="item.v"></td>
                                <td v-text="item.a"></td>
                                <td v-text="item.m"></td>
                                <td v-text="item.c"></td>
                                <td v-if="item.c<selected1.limit" v-text="'<'+selected1.limit"></td>
                                <td v-else v-text="item.c"></td>
                                <td v-show="date_show" v-text="item.unit"></td>
                                <td v-show="date_show" v-text="item.range"></td>
                                <td v-show="date_show" v-text="item.assessment"></td>
                                <td v-show="date_show" v-text="item.date"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">检验者：</div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">审核者：</div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">日期：
                            <span v-text="dateFormat(new Date())"></span>
                        </div>
                    </div>
                </div>
            </form>
            <form class="animated bounceInDown" v-if="show2">
                <a class="btn text-danger" @click="printContent('print2')"><i class="fa fa-print"></i>打印记录</a>
                <div id="print2">
                    <div @click="date_y()" class="text-center" colspan="5">
                        <h1 v-text="company"></h1>
                        <h3 title="点击这里可以查看每个样品的检测日期"><i>水样中<span v-text="selected2.name"></span>检验记录</i></h3>
                    </div>
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td class="text-center">检测方法：</td>
                            <td colspan="1" contenteditable="true" v-text="selected2.method"></td>
                            <td class="text-center">样品数量：</td>
                            <td colspan="2" contenteditable="true">3升</td>
                        </tr>
                        <tr>
                            <td class="text-center">收样日期：</td>
                            <td contenteditable="true" v-text="recived_date"></td>
                            <td class="text-center">检验日期：</td>
                            <td colspan="2" contenteditable="true" v-text="test_date"></td>
                        </tr>
                        <tr>
                            <td class="text-center">样品性状：</td>
                            <td contenteditable="true">液态</td>
                            <td class="text-center">检测环境：</td>
                            <td contenteditable="true">
                                温度<span v-text="T"></span> ℃
                            </td>
                            <td contenteditable="true">
                                湿度
                                <span v-text="H"></span>% RH
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">检测仪器：</td>
                            <td v-text="selected2.instrument_model">
                            </td>
                            <td class="text-center">检验依据：</td>
                            <td colspan="2" v-text="selected2.GB">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">检验步骤：</td>
                            <td colspan="5" v-html="selected2.step"></td>
                        </tr>
                        <tr>
                            <td class="text-center">结果计算：</td>
                            <td colspan="5" v-html="selected2.calculation"></td>
                        </tr>
                    </table>
                    <table @click="mystorages(selected2)" class="table table-bordered table-striped table-hover" id="record2">
                        <thead>
                            <tr>
                                <th class="text-center">样品编号</th>
                                <th class="text-center">加样量(ml)</th>
                                <th class="text-center">空白消耗量(ml)</th>
                                <th class="text-center">标准消耗量(ml)</th>
                                <th class="text-center">测定结果(mg/L)</th>
                                <th class="text-center">报告结果(mg/L)</th>
                                <th v-show="date_show" class="text-center">计量单位</th>
                                <th v-show="date_show" class="text-center">参考范围(mg/L)</th>
                                <th v-show="date_show" class="text-center">结果评价</th>
                                <th v-show="date_show" class="text-center">记录日期</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="(item, index) in selected2.st" :key="index">
                                <td><i v-text="numbering+(new Date()).getFullYear()"></i>水第<span v-text="f_n(item.id, 3)"></span>号</td>
                                <td v-text="item.v"></td>
                                <td v-text="item.a0"></td>
                                <td v-text="item.a1"></td>
                                <td v-text="item.c"></td>
                                <td v-if="item.c<selected2.limit" v-text="'<'+selected2.limit"></td>
                                <td v-else v-text="item.c"></td>
                                <td v-show="date_show" v-text="item.unit"></td>
                                <td v-show="date_show" v-text="item.range"></td>
                                <td v-show="date_show" v-text="item.assessment"></td>
                                <td v-show="date_show" v-text="item.date"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">检验者：</div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">审核者：</div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">日期：
                            <span v-text="dateFormat(new Date())"></span>
                        </div>
                    </div>
                </div>
            </form>
            <form class="animated bounceInRight" v-if="show3">
                <a class="btn text-danger" @click="printContent('print3')"><i class="fa fa-print"></i>打印记录</a>
                <div id="print3">
                    <div @click="date_y()" class="text-center" colspan="5">
                        <h1 v-text="company"></h1>
                        <h3 title="点击这里可以查看每个样品的检测日期"><i>水样中<span v-text="selected3.name"></span>检验记录</i></h3>
                    </div>
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td class="text-center">检测方法：</td>
                            <td colspan="1" contenteditable="true" v-text="selected3.method"></td>
                            <td class="text-center">样品数量：</td>
                            <td colspan="2" contenteditable="true">3升</td>
                        </tr>
                        <tr>
                            <td class="text-center">收样日期：</td>
                            <td contenteditable="true" v-text="recived_date"></td>
                            <td class="text-center">检验日期：</td>
                            <td colspan="2" contenteditable="true" v-text="test_date"></td>
                        </tr>
                        <tr>
                            <td class="text-center">样品性状：</td>
                            <td contenteditable="true">液态</td>
                            <td class="text-center">检测环境：</td>
                            <td contenteditable="true">
                                温度<span v-text="T"></span> ℃
                            </td>
                            <td contenteditable="true">
                                湿度
                                <span v-text="H"></span>% RH
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">检测仪器：</td>
                            <td v-text="selected3.instrument_model">
                            </td>
                            <td class="text-center">检验依据：</td>
                            <td colspan="2" v-text="selected3.GB">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">检验步骤：</td>
                            <td colspan="5" v-html="selected3.step"></td>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 12em">结果计算：</td>
                            <td colspan="5" v-html="selected3.calculation"></td>
                        </tr>
                    </table>
                    <table @click="mystorages(selected3)" class="table table-bordered table-striped table-hover" id="record3">
                        <thead>
                            <tr>
                                <th class="text-center">样品编号</th>
                                <th v-show="date_show" class="text-center">计量单位</th>
                                <th v-show="date_show" class="text-center">参考范围(mg/L)</th>
                                <th class="text-center">报告结果(mg/L)</th>
                                <th v-show="date_show" class="text-center">结果评价</th>
                                <th v-show="date_show" class="text-center">记录日期</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="(item, index) in selected3.st" :key="index">
                                <td><i v-text="numbering+(new Date()).getFullYear()"></i>水第<span v-text="f_n(item.id, 3)"></span>号</td>
                                <td v-show="date_show" v-text="item.unit"></td>
                                <td v-show="date_show" v-text="item.range"></td>
                                <td v-text="item.c"></td>
                                <td v-show="date_show" v-text="item.assessment"></td>
                                <td v-show="date_show" v-text="item.date"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">检验者：</div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">审核者：</div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">日期：
                            <span v-text="dateFormat(new Date())"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> 
</body>
<script src="js/index.js"></script>
<!-- <script src="js/main.js"></script> -->
</html>