<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/css/bootstrap.css">
    <!-- <script src="js/bootstarp.js"></script> -->
    <script src="js/vue.min.js"></script>
    <title>样品登记</title>
</head>

<body>
    <div id="app">
        <h3 class="text-center" @click="get_storage()"><i>水质检测报告</i></h3>
        <table v-for="(value, key) in storage" :key="key" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">YXCDC水第{{ value[0].id }}号</th>
                </tr>
                <tr>
                    <th>检测类型</th>
                    <td></td>
                    <th>送检日期</th>
                    <td></td>
                </tr>
                <tr>
                    <th>委托单位</th>
                    <td></td>
                    <th>样品类型</th>
                    <td></td>
                </tr>
                <tr>
                    <th>name</th>
                    <th>result</th>
                </tr>
            </thead>
            <tbody v-for="(item, index) in value" :key="index">
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.result }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="sample.js"></script>
</body>
</html>