fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver
}

input {
    width: 5em;
}

:focus {
    background-color: rgb(161, 220, 228)
}
#threed{
    color: #fafafa;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 9px 0px #222, 0px 10px 0px #111;
}
table {
    box-shadow: 5px 5px 2px #000;
}
a{
    box-shadow: 2px 2px 1px #111;
}
th {
    color: #4f6b72;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
}

td {
    color: #4f6b72;
    min-width: 3em;
}

footer {
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
}
.back1 {
    background-color:blue;
    width: 4cm;
    height: 5cm;
    color:blue;
    position:absolute;
    left: 65em;
}
.btn-circle {  
    width: 30px;  
    height: 30px;  
    text-align: center;  
    padding: 6px 0;  
    font-size: 12px;  
    line-height: 1.428571429;  
    border-radius: 15px;  
  }  
  .btn-circle.btn-lg {  
    width: 50px;  
    height: 50px;  
    padding: 10px 16px;  
    font-size: 18px;  
    line-height: 1.33;  
    border-radius: 25px;  
  }  
  .btn-circle.btn-xl {  
    width: 70px;  
    height: 70px;  
    padding: 10px 16px;  
    font-size: 24px;  
    line-height: 1.33;  
    border-radius: 35px;  
  }  