fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver
}

legend {
    padding: .5em;
    border: 0;
    width: auto
}

input {
    width: 5em;
}

:focus {
    background-color: rgb(161, 220, 228)
}
#threed{
    color: #fafafa;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 9px 0px #222, 0px 10px 0px #111;
}
table {
    box-shadow: 5px 5px 2px #000;
}
a{
    box-shadow: 2px 2px 1px #111;
}
th {
    color: #4f6b72;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
}

td {
    color: #4f6b72;
}

footer {
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
}
