fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver
}

legend {
    padding: .5em;
    border: 0;
    width: auto
}

input {
    width: 5em;
}

:focus {
    background-color: rgb(161, 220, 228);
}

table {
    box-shadow: 10px 10px 10px #000;
}

th {
    color: #4f6b72;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
}

td {
    color: #4f6b72;
}

footer {
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
}